<%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
<%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>
  <%#= query_columns_hidden_tags(query) %>
<div class="grid-container">
  <div class="issue-list">
    <div class="list-scroll">
      <table id="selectable" class="list issues odd-even <%= query.css_classes %>">
        <thead>
          <tr>
            <th><%= l(:label_issue)%></th>
          </tr>
        </thead>
        <tbody>
          <% issues.each do |issue|%>
            <tr id="issue-<%= issue.id %>" class="<%= cycle('odd', 'even') %> <%= issue.css_classes %>">
              <td class="select-issue" data-issue-id='<%= issue.id%>'><%= issue.id %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <span class="pagination pg-query-detail"><%= pagination_links_full @issue_pages, @issue_count %></span>
  </div>
  <div class="issue-detail" id="issue-query-detail">
    
  </div>
</div>
<%end %>