<%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
<%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>
  <%#= query_columns_hidden_tags(query) %>
<div class="grid-container">
  <div class="issue-list">
    <div class="autoscroll">
      <table id="selectable" class="list issues odd-even <%= query.css_classes %>">
        <thead>
          <tr>
            <th class="checkbox hide-when-print">
              <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
                :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
            </th>
            <th><%= l(:label_issue)%></th>
            <th class="buttons"></th>
          </tr>
        </thead>
        <tbody>
          <% issues.each do |issue|%>
            <tr id="issue-<%= issue.id %>" class="<%= cycle('odd', 'even') %> <%= issue.css_classes %>">
              <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>
              <td class="select-issue" data-issue-id='<%= issue.id%>'><%= issue.id %></td>
              <td class="buttons"><%= link_to_context_menu %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="issue-detail" id="issue-query-detail">
    
  </div>
</div>
<%end %>
  <script>
  $( function() {
    $("#selectable").selectable({
      filter: $('.select-issue'),
      selected: function( event, ui ) {
        $.ajax({
          url: "issue_query_detail/" + ui.selected.dataset["issueId"],
          type: 'get',
          dataType: 'script'
    });

      }
    });
  } );
  </script>